@font-face {
    font-family: 'Poppins';
    src: url('/src/fonts/Poppins.woff2') format('woff2'),
        url('/src/fonts/Poppins.woff') format('woff');
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Open-Sans-Light';
    src: url('OpenSans-Light.woff2') format('woff2'),
        url('OpenSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open-Sans-Italic';
    src: url('OpenSansLight-Italic.woff2') format('woff2'),
        url('OpenSansLight-Italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('/src/fonts/Poppins-Medium.woff2') format('woff2'),
        url('/src/fonts/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-Light';
    src: url('/src/fonts/Poppins-Light.woff2') format('woff2'),
        url('/src/fonts/Poppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-Semibold';
    src: url('/src/fonts/Poppins-SemiBold.woff2') format('woff2'),
        url('/src/fonts/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('/src/fonts/Poppins-Regular.woff2') format('woff2'),
        url('/src/fonts/Poppins-Regular.woff') format('woff');
    font-style: normal;
    font-display: swap;
}




@font-face {
    font-family: 'Open-Sans-bold';
    src: url('OpenSans-Bold.woff2') format('woff2'),
        url('OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo-Sans';
    src: url('MuseoSans-500.woff2') format('woff2'),
        url('MuseoSans-500.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open-Sans-semibold';
    src: url('OpenSans-Semibold.woff2') format('woff2'),
        url('OpenSans-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gabriola';
    src: url('Gabriola.woff2') format('woff2'),
        url('Gabriola.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open-Sans-extrabolditalic';
    src: url('OpenSans-ExtraboldItalic.woff2') format('woff2'),
        url('OpenSans-ExtraboldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open-Sans-SemiboldItalic';
    src: url('OpenSans-SemiboldItalic.woff2') format('woff2'),
        url('OpenSans-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open-Sans-BoldItalic';
    src: url('OpenSans-BoldItalic.woff2') format('woff2'),
        url('OpenSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: 'Open-Sans-Extrabold';
    src: url('OpenSans-Extrabold.woff2') format('woff2'),
        url('OpenSans-Extrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Open-Sans';
    src: url('OpenSans.woff2') format('woff2'),
        url('OpenSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
