@use "/src/components/mixin" as mixin;
@use "/src/components/variables" as styles;

@use "/src/components/buttons";
.container{
    width: 600px;
    margin:  0 auto;
    h1{
        font-family: 'Poppins';
        font-size: 30px;
    }
    .row{
        width: 600px;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        margin-top: 30px;
        >div{///> означає,що div всього лиш першого роду
            display: flex;
            align-items: center;
            span{
                margin-left: 10px;
                color: #CBCCCE;
            }
            div{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: black;
            }
            .pr-1{
                background-color: styles.$pr-main-color;
            }
            .pr-2{
                background-color: styles.$pr-color-2;
            }
            .pr-3{
                background-color: styles.$pr-color-3;
            }
            .pr-4{
                background-color: styles.$pr-color-4;
            }



            .l1-1{
                background-color: styles.$light-1-main-color;
            }
            .l2-1{
                background-color: styles.$light-2-main-color;
            }
            .l3-1{
                background-color: styles.$light-3-main-color;
            }


            .l1-2{
                background-color: styles.$light-1-pr2-color;
            }
            .l2-2{
                background-color: styles.$light-2-pr2-color;
            }
            .l3-2{
                background-color: styles.$light-3-pr2-color;
            }


            .l1-3{
                background-color: styles.$light-1-pr3-color;
            }
            .l2-3{
                background-color: styles.$light-2-pr3-color;
            }
            .l3-3{
                background-color: styles.$light-3-pr3-color;
            }


            .l1-4{
                background-color: styles.$light-1-pr4-color;
            }
            .l2-4{
                background-color: styles.$light-2-pr4-color;
            }
            .l3-4{
                background-color: styles.$light-3-pr4-color;
            }




            .d1-1{
                background-color: styles.$dark-1-main-color;
            }
            .d2-1{
                background-color: styles.$dark-2-main-color;
            }
            .d3-1{
                background-color: styles.$dark-3-main-color;
            }

            .d1-2{
                background-color: styles.$dark-1-pr2-color;
            }
            .d2-2{
                background-color: styles.$dark-2-pr2-color;
            }
            .d3-2{
                background-color: styles.$dark-3-pr2-color;
            }


            .d1-3{
                background-color: styles.$dark-1-pr3-color;
            }
            .d2-3{
                background-color: styles.$dark-2-pr3-color;
            }
            .d3-3{
                background-color: styles.$dark-3-pr3-color;
            }

            .d1-4{
                background-color: styles.$dark-1-pr4-color;
            }
            .d2-4{
                background-color: styles.$dark-2-pr4-color;
            }
            .d3-4{
                background-color: styles.$dark-3-pr4-color;
            }
        }
    }
}
.container-1{
    margin-top: 80px;
    width: 60px;
    float: right;
    margin-right: 370px;
    div{
        width: 50px;
        height: 50px;
        margin-bottom: 30px;
        border-radius: 50%;
        text-align: center;
        background-color:styles.$dark-2-pr4-color ;
    }
    .c-1{
        background-color: styles.$pr-main-color-4;
    }
    .c-2{
        background-color: styles.$pr-main-color-3;
    }
    .c-3{
        background-color: styles.$pr-main-color-2;
    }
    .c-4{
        background-color: styles.$pr-main-color;
    }
}
.h1-02{
    margin-top: 100px;
    font-family: 'Poppins';
    font-size: 30px;
    color: black;
    margin-left: 450px;
}
.container-2{
    display: flex;
    align-items: center;
    margin-left: 450px;
    .con2{
        margin-right: 50px;
        .con2-1{
            margin-top: 5px;
        }
        .con2-2{
            margin-top: 40px;
        }
        .con2-3{
            margin-top: 55px;
        }
        .con2-4{
            margin-top: 50px;
        }
        .con2-5{
            margin-top: 55px;
        }
        .con2-6{
            margin-top: 50px;
        }
    }
    .con1{
         div{
            h2{
                span{
                    background-color: styles.$pr-main-color;
                    color: styles.$light;
                }
            }
        }
    }
}

.container-3{
    table{
        margin-left: 80px;
        tr{
            .small-td{
                width: 100px;
                vertical-align: top;
            }
            .big-td{
                width: 700px;
                p{
                    @include mixin.font(styles.$font-regular, 14px, styles.$dark-1-pr4-color);
                }
            }
            .big2-td{
                width: 700px;
                p{
                    @include mixin.font(styles.$font-medium, 20px, styles.$dark-1-pr4-color);
                }
                .p{
                    padding-left: 10px;
                    background-color: styles.$pr-main-color ;
                    color: styles.$light ;
                }
            }
        }
    }
}

.container-4{
    float: right;
    margin-left: 80px;
    .container{
        p{
           @include mixin.font(styles.$font-medium, 15px, styles.$dark-1-pr4-color); 
        }
        ul{
            li{
                @include mixin.font(styles.$font-medium, 15px, styles.$dark-1-pr4-color);
            }
        }
    }
    .cont{
        width: 650px;
        p{
            background-color: styles.$light-3-main-color;
            padding: 10px;
            padding-left: 15px;
            padding-right: 15px;
            @include mixin.font(styles.$font-medium, 17px, styles.$dark-1-main-color);
            border-left: 3px solid;
        }
    }
}

.container-5-big{
    margin-left: 50px;
    h1{
        margin-top: 100px;
        font-family: 'Poppins';
        font-size: 30px;
        color: black;
    }
    .row-1{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-column-gap: 20px;
        margin-bottom: 38px;
        .r{
            .grey{
                background-color: #e7e7e7;
                border: solid 1px #d7d9db;
            }
            .white{
                border: solid 1px #d7d9db;
            }
            .blue{
                border: solid 2px styles.$pr-main-color;
            }
            input{
                width: 260px;
                height: 40px;
                padding-left: 10px;
            }
            p{

                span{
                    background-color: styles.$pr-main-color;
                    color: styles.$light;
                }
            }
        }

















        .stepper{
            display: grid;
            grid-template-columns: 48px 1fr 48px;
            border: 1px solid #e5e7eb;
            border-radius: 8px;
            height: 48px;

            .value{
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #e7e7e7;
            }

            .btn {
                display: flex;
                align-items: center;
                justify-content: center;
                background: #f9fafb;
                font-size: 22px;
                color: #6b7280;
            }
        }
        .r2{
            p{

                span{
                    background-color: styles.$pr-main-color;
                    color: styles.$light;
                }
            }
        }










        
    }
    .row-2{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-column-gap: 20px;
        margin-bottom: 48px;
        div{
            p{

                span{
                    background-color: styles.$pr-main-color;
                    color: styles.$light;
                }
            }
            select{
                width: 275px;
                height: 45px;
                padding-left: 10px;
            }
            .select{
                background-color: #e7e7e7;
                border: solid 1px #d7d9db;
                color: #6b6b6b;
            }
            .select1{
                border: solid 1px #d7d9db;
                color: #6b6b6b;
            }
            .select2{
                border: solid 2px styles.$pr-main-color;
                color: #6b6b6b;
            }
        }
    }
    .row-3{
        display: flex;
        gap: 40px;
        align-items: flex-start;
        margin-bottom: 40px;
        .box{
            width: 240px;
            height: 48px;
            padding: 0 16px;
            border: 2px solid;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: #fff;
            margin-right: 50px;

            .box__icon{
                font-size: 18px;
                font-weight: 700;
                line-height: 1;
            }
            
            .box__text{
                font-size: 14px;
            }
        }
        .box--error{
            border-color: #fb7185;
            color: #fb7185;
        }
        .box--success{
             border-color: #22c55e;
             color: #22c55e;
        }
    }
    .row-4{
        display: grid;
        grid-template-columns: repeat(4, 170px);
        gap: 18px 42px;
        align-items: center;
        
        div{
            width: 20px;
            height: 20px;
            
            span{
                padding-left: 30px;
            }
        }
        .c-1{
            border: solid 2px #e7e7e7 ;
            span{
                color: #CBCCCE;
            }
        }
        .c-2{
            border: solid 2px styles.$pr-main-color ;
            
        }
        .c-3{
            border: solid 1px styles.$pr-main-color ;
            padding-left: 5px;
            height: 23px;
            background-color: styles.$pr-main-color;
            color: styles.$light;
            span{
                color: black;
                padding-left: 20px;
            }
        }
        .c-4{
            background-color: #e7e7e7;
            border: solid 1px #e7e7e7 ;
            padding-left: 5px;
            height: 23px;
            color: styles.$light;
            span{
                color: #e7e7e7;
                padding-left: 20px;
            }
        }
        .r-1{
            border-radius: 50%;
            border: solid 2px #e7e7e7;
            span{
                color: #CBCCCE;
            }
        }
        .r-2{
            border-radius: 50%;
            border: solid 2px styles.$pr-main-color ;
        }
        .r-3{
            border-radius: 50%;
            padding-left: 3px;
            padding-top: 3px;
            border: solid 2px styles.$pr-main-color;
            div{
                width: 16px;
                height: 16px;
                background-color:styles.$pr-main-color ;
                border-radius: 50%;
                
            }
            
        }
        .r-4{
            border-radius: 50%;
            padding-left: 3px;
            padding-top: 3px;
            border: solid 1px #e7e7e7 ;
            div{
                width: 16px;
                height: 16px;
                background-color: #e7e7e7;
                border-radius: 50%;
                
            }
        }

    }

}
.container-6{
    h1{
        font-family: 'Poppins';
        font-size: 30px;
        color: black;
        margin-left:30px;
    }
    width: 900px;
    margin-left: 80px;
    .row{
        display: grid;
        grid-template-columns: 80px 230px 250px 190px 190px 190px;
        margin-bottom: 20px;
        grid-column-gap: 25px;
        
        .name{
            padding-left: 10p19
        }

    }
    .row-last{
        margin-bottom: 70px;
    }
    .row2{
        margin-bottom: 15px;
        display: grid;
        grid-template-columns: 80px 160px 160px 160px 160px 160px;
        grid-column-gap: 20px;
    }
    
}

.container-7{
    margin-left: 400px;
    h1{
        margin-top: 70px;
        font-family: 'Poppins';
        font-size: 30px;
        color: black;
        text-align: left;
        margin-left: 0;
    }
    
    table{
        tr{
            td{
                color: #757575;
                text-align: center;
                width: 115px;
                height: 50px;
                border-bottom: #d7d9db solid ;
            }
            .orange{
                color: styles.$pr-main-color-2 ;
                border-bottom: styles.$pr-main-color-2 solid ;
            }
            .noborder{
                border: none;
            }
        }
    }
}

.container-8{
    margin-left: 80px;
    .row{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-bottom: 40px;
        .con-1{
            p{
                color: #b0b7c3
            }
            .pagination{
            display:flex;
            align-items:center;
            gap:14px;
            font-family: Arial, sans-serif;

        .pagination_link{
            width:34px;
            height:34px;
            display:flex;
            align-items:center;
            justify-content:center;
            text-decoration:none;
            color:#9aa0a6;              
            border-radius:50%;
            font-size:14px;
            line-height:1;
        }
        .pagination_link:hover{
            background:#f2f4f7;
            color:#6b7280;
        }
        .pagination_link.is-active{
            background:#1da1f2; 
            color:#fff;
        }
        .pagination_arrow{
            width:34px;
            height:34px;
            display:flex;
            align-items:center;
            justify-content:center;
            text-decoration:none;
            color:#b0b7c3;
            font-size:22px;
            border-radius:50%;
        }
        .pagination_arrow:hover{
            background:#f2f4f7;
            color:#6b7280;
        }
    }
        }
        .con-2{
            p{
                color: #b0b7c3
            }
            .pagination_link{
                display: inline-block;
                p{
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    background-color: #b0b7c3;
                    margin-left: 10px;
                }
                .active{
                    background-color: styles.$light;
                }

            }
            .active{
                border: 2px solid styles.$pr-main-color;

            }
        }
    }
    .row-2{
        display: grid;
        grid-template-columns: 300px 200px 200px;
        margin-bottom: 40px;
        grid-column-gap: 100px;
        .con-3{
            p{
                margin-bottom: 20px;
                color: #b0b7c3
            }
            .text{
                border: solid #CBCCCE;
                p{
                    padding: 15px;
                    color: #6f6f6f;
                }
            }
        }

        .con-4{
            p{
                color: #b0b7c3
            }
            .pic{
                display: grid;
                grid-template-columns: repeat(4,1fr);
                grid-row-gap: 20px;
                margin-top: 40px;

                div{
                    .first{
                        color: #b0b7c3;
                    }
                    .face{
                        color: rgb(0, 0, 130);
                    }
                    .twit{
                        color: #1da1f2;
                    }
                    .pin{
                        color: rgb(152, 0, 30);
                    }
                }
            }
            

        }

        .con-5{
            .pict{
                background-color: #03a9f4;
                padding: 10px;
                padding-bottom: 40px;
                margin-top: 70px;
                display: grid;
                grid-template-columns: repeat(4,1fr);
                grid-row-gap: 30px;
                div{
                    width: 35px;
                    height: 35px;
                    border: solid styles.$light;
                    border-radius: 50%;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .s{
                    background-color: #0287c3;
                    border:#0287c3 ;
                }
            }
        }
    }
    
}


.btn-group{
    grid-column-gap: 10px;
}