// lighten($pr-main-color,40%);
// darken($pr-main-color,20%);
// colors base
@use "sass:color";
$pr-main-color: #03a9f4;
$pr-main-color-2: #FFAA33;
$pr-main-color-3: #F44747;
$pr-main-color-4: #09A912;
$pr-color-2: #f75e2e;
$pr-color-3: #ecfa4d;
$pr-color-4: #656a70;
$light:#fff;
$color-grey-text:#6f7479;
// lighten 
$light-1-main-color: color.mix(#fff, $pr-main-color, 40%);
$light-2-main-color: color.mix(#fff, $pr-main-color, 75%);
$light-3-main-color: color.mix(#fff, $pr-main-color, 90%);


$light-1-pr2-color: color.mix(#fff, $pr-color-2, 40%);
$light-2-pr2-color: color.mix(#fff, $pr-color-2, 75%);
$light-3-pr2-color: color.mix(#fff, $pr-color-2, 90%);

$light-1-pr3-color: color.mix(#fff, $pr-color-3, 40%);
$light-2-pr3-color: color.mix(#fff, $pr-color-3, 75%);
$light-3-pr3-color: color.mix(#fff, $pr-color-3, 90%);

$light-1-pr4-color: color.mix(#fff, $pr-color-4, 40%);
$light-2-pr4-color: color.mix(#fff, $pr-color-4, 75%);
$light-3-pr4-color: color.mix(#fff, $pr-color-4, 90%);

// darken
$dark-1-main-color: color.mix(#000, $pr-main-color, 20%);
$dark-2-main-color: color.mix(#000, $pr-main-color, 50%);
$dark-3-main-color: color.mix(#000, $pr-main-color, 70%);

$dark-1-pr2-color: color.mix(#000, $pr-color-2, 20%);
$dark-2-pr2-color: color.mix(#000, $pr-color-2, 50%);
$dark-3-pr2-color: color.mix(#000, $pr-color-2, 70%);

$dark-1-pr3-color: color.mix(#000, $pr-color-3, 20%);
$dark-2-pr3-color: color.mix(#000, $pr-color-3, 50%);
$dark-3-pr3-color: color.mix(#000, $pr-color-3, 70%);

$dark-1-pr4-color: color.mix(#000, $pr-color-4, 20%);
$dark-2-pr4-color: color.mix(#000, $pr-color-4, 50%);
$dark-3-pr4-color: color.mix(#000, $pr-color-4, 70%);

// fonts
$font-regular: 'Poppins-Regular';
$font-bold: 'Poppins-Bold';
$font-medium: 'Poppins-Medium';
$font-light: 'Poppins-Light';
$font-semibold: 'Poppins-SemiBold';
$font-poppins: 'Poppins';
$font-sans-light: 'Open-Sans-Light';
$font-sans-italic: 'Open-Sans-Italic';
$font-sans-bold: 'Open-Sans-bold';
$font-museo-Sans: 'Museo-Sans';
$font-sans-semibold: 'Open-Sans-semibold';
$font-gabriola: 'Gabriola';
$font-sans-extrabolditalic: 'Open-Sans-extrabolditalic';
$font-sans-SemiboldItalic: 'Open-Sans-SemiboldItalic';
$font-sans-BoldItalic: 'Open-Sans-BoldItalic';
$font-sans-Extrabold: 'Open-Sans-Extrabold';
$font-sans: 'Open-Sans';




